.home-container{
    position: relative;
    margin-top: 75px;
}
.bg-img-div{
    position: relative;
}
.bg-img-div::after{
    content: "";
    position: absolute;
    top: 10;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000009f;
}
.bg-img{
    width: 100%;
}
.text{
    position: absolute;
    left: 0;
    color: white;
    padding-left: 5%;
    width: 35%;
    z-index: 21;
}
.quote{
    font-size: 45px;
}
.custom-primary-btn{
    padding: 7px 20px;
    font-size: 22px;
    margin-top: 30px;
    transform: all 0.3s ease-in;
}
.custom-primary-btn:hover{
    box-shadow: 1px 1px 7px #757575;
    margin-top: 25px;
    color: #4790ff;
    background-color: #0000ff00;
    border-width: 2px;
}
.see-btn .custom-primary-btn:hover{
    color: #004bbd;
}

/* courses section */
.courses-section{
    height: 500px;
}
/* signIn-section */
.signin-section{
    margin-top: 3rem;
    width: 82%;
    height: 200px;
    background-color: #2B4EFF;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.signin-section img{
    position: absolute;
    top: -100px;
    right: -200px;
    z-index: 40;
}

.signin-btn{
    font-weight: 600;
    font-size: 1.5rem;
    background-color: white;
    padding: 10px 30px;
    height: 16%;
    border-radius: 5px;
    z-index: 41;
    transition:  all 0.2s ease-in;
    margin-right: 3rem;
}
.signin-btn:hover{
    color: black;
    border: none;
    box-shadow: 3px 3px 7px gray;
    margin-top: -10px;
}

